{% extends "layout.html" %}
{% block content %}
  <div class="contact">
    <h1>Contact </h1>
    <h2>Email: nicole AT parsingscience.com </h2><br>
    <h2>Code: <a href="https://github.com/parsing-science" target="_blank" style="color:#53B3CB"> Github </a> </h2><br>
    <h2>Twitter: <a href="https://twitter.com/parsing_science" target="_blank" style="color:#53B3CB"> @parsing_science </a></h2><br>
    <h2>LinkedIn: <a href="https://www.linkedin.com/in/nicolelcarlson/" target="_blank" style="color:#53B3CB"> Profile</a></h2>
  </div>
{% endblock %}
