{% extends "layout.html" %}
{% block content %}
  <div class="home row-fluid">
    <div class="col-md-5">
        <p>
          Hello, I'm Nicole Carlson, a Data Scientist in Chicago. <br><br>
          This website has links to my latest projects and talks, including <a href="https://pypi.python.org/pypi/pymc3-models/" target="_blank" style="color:#53B3CB"> PyMC3 Models</a>, a library for custom PyMC3 models built on top of the scikit-learn API.
          
        </p>
    </div>
    <div class="col-md-7">
        <img src="{{ url_for('static', filename='media/logo.png') }}" alt="Parsing Science logo" style="width:50%;height:50%">
    </div> 
  </div>
{% endblock %}
