{% extends "layout.html" %}
{% block content %}
  <div class="home row-fluid">
    <div class="col-md-5">
        <p>
          Hello, I'm Nicole Carlson (she/her/hers), a Data Science Manager in Chicago. I'm passionate about building diverse and inclusive Data Science teams. If you work with me, you'll also discover that I love organizing things and making processes more efficient.<br><br>
          This website has links to my latest projects and talks.<br><br>
          I'm the co-creator of <a href="https://pypi.python.org/pypi/tonks/" target="_blank" style="color:#53B3CB"> Tonks</a>, a deep learning library to create multi-task image, text, or ensemble (image + text) models.<br><br>
          I also created <a href="https://pypi.python.org/pypi/pymc3-models/" target="_blank" style="color:#53B3CB"> PyMC3 Models</a>, a library for custom PyMC3 models built on top of the scikit-learn API.
        </p>
    </div>
    <div class="col-md-7">
        <img src="{{ url_for('static', filename='media/logo.png') }}" alt="Parsing Science logo" style="width:50%;height:50%">
    </div> 
  </div>
{% endblock %}
