{% extends "layout.html" %}
{% block content %}
  <div class="projects">
    <h3> Projects </h3>
    <p>
        I primarily code in Python. <br><br>
        I'm the co-creator of Tonks, a deep learning library to create multi-task image, text, or ensemble (image + text) models <a href="https://github.com/ShopRunner/tonks" target="_blank" style="color:#53B3CB"> Github</a>, <a href="https://pypi.org/project/tonks/" target="_blank" style="color:#53B3CB"> PyPI</a>. My co-creator, <a href="https://medium.com/@michaelsugimura" target="_blank" style="color:#53B3CB"> Michael Sugimura</a>, and I wrote <a href="https://medium.com/shoprunner/tonks-building-one-multi-task-model-to-rule-them-all-3e5d020f1f2b" target="_blank" style="color:#53B3CB"> a blog post </a> about the process of making Tonks. <br><br>
        I created PyMC3 Models, a library for custom PyMC3 models built on top of the scikit-learn API <a href="https://github.com/parsing-science/pymc3_models" target="_blank" style="color:#53B3CB"> Github</a>, <a href="https://pypi.org/project/pymc3-models/" target="_blank" style="color:#53B3CB"> PyPI</a>. <br><br>
        See other projects on <a href="https://github.com/parsing-science" target="_blank" style="color:#53B3CB"> my Github page</a>.
    </p> 
  </div>
{% endblock %}
