{% extends "layout.html" %}
{% block content %}
  <div class="talks">
    <h1>Talks </h1>

    <div class="row-fluid">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Date</th>
            <th>Talk</th>
            <th>Place</th>
            <th>Links</th>
          </tr>
        </thead>
        <tbody>
            <tr>
            <td>June 5, 2017</td>
            <td>Turning PyMC3 into sklearn</td>
            <td>PyData Chicago Monthly Meetup</td>
            <td><a href="https://github.com/parsing-science/pydata_chicago_june_2017" target="_blank"> Code </a></td>
          </tr>
          <tr>
            <td>August 28, 2016</td>
            <td>When Worlds Collide: Productionalizing a Data Science Model (w/ Tudor Radoaca)</td>
            <td>PyData Chicago</td>
            <td><a href="https://www.youtube.com/watch?v=ZCQHoAMZJsM" target="_blank"> Video </a></td>
          </tr>
          <tr>
            <td>August 26, 2016</td>
            <td>A Quickstart Guide to PyMC3</td>
            <td>PyData Chicago</td>
            <td><a href="https://github.com/parsing-science/pymc3_quickstart_guide" target="_blank">Code </a>, <a href="https://www.youtube.com/watch?v=rZvro4-nFIk" target="_blank"> Video </a></td>
          </tr>
          <tr>
            <td>July 21, 2016</td>
            <td>What I Do as a Data Scientist</td>
            <td>Girls Who Code Summer Immersion Program at UIC</td>
            <td><a href="https://github.com/parsing-science/gwc_presentation" target="_blank">Code </a</td>
          </tr>
          <tr>
            <td>June 30, 2016</td>
            <td>Women in Data Engineer & Data Science Panel </td>
            <td>WiMLDS & PyLadies</td>
            <td><a href="https://www.meetup.com/Chicago-PyLadies/events/231721732/" target="_blank">Meetup Event </a> </td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>
{% endblock %}
